<h1>Editar Jugador</h1>
<% errors.forEach( function(c)  {  %> 
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= c.text%>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
<%}) %>   

<form  action="editar-torneo" method="POST">

    <% ltorneos.forEach( function(s){%>
    <p>ID: <input readonly type="text" name="id"  value="<%= s.id %>" ></p>
    <p>Numero de participantes maximo: <input readonly type="text" name="" id="" value="<%= s.maxParticipantes %>" >  Sale el num de particpantes </p>
    <p>Tipo de torneo: <input readonly type="text" name="" id=""  value="Todos contra Todos "></p>
    <p>Nombre: <input type="text" name="nombre" value="<%= s.nombre %>" >  </p>
    <p>Descripcion: <input type="text" name="descripcion" value="<%= s.descripcion %>" ></p>

    <%let current_datetime = s.fecha_ini
    let formatted_date
    console.log(current_datetime.getMonth() + 1)
    if( (current_datetime.getMonth() + 1) < 10){
        formatted_date = current_datetime.getFullYear() + "-0" + (current_datetime.getMonth() + 1) + "-" +current_datetime.getDate()
    }if( (current_datetime.getDate()+1)< 10 ){
        formatted_date = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-0" +current_datetime.getDate()
    }if( ((current_datetime.getDate()+1) < 10)  && ((current_datetime.getMonth() + 1) < 10)){
        formatted_date = current_datetime.getFullYear() + "-0" + (current_datetime.getMonth() + 1) + "-0" +current_datetime.getDate()
    }
    if( ((current_datetime.getDate()+1) > 9)  && ((current_datetime.getMonth() + 1) > 9)){
        formatted_date = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-" +current_datetime.getDate()
    } 
    console.log(formatted_date)%>
    <p>Fecha de Inicio: <input type="date" name="fecha_ini" value="<%=formatted_date%>" ></p>

    <%current_datetime = s.fecha_fin
    let formatted_date_fin
    if( (current_datetime.getMonth() + 1) < 10){
        formatted_date_fin = current_datetime.getFullYear() + "-0" + (current_datetime.getMonth() + 1) + "-" +current_datetime.getDate()
    }if( (current_datetime.getDate()+1)< 10 ){
        formatted_date_fin = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-0" +current_datetime.getDate()
    }if( ((current_datetime.getDate()+1) < 10)  && ((current_datetime.getMonth() + 1) < 10)){
        formatted_date_fin = current_datetime.getFullYear() + "-0" + (current_datetime.getMonth() + 1) + "-0" +current_datetime.getDate()
    }if( ((current_datetime.getDate()+1) > 9)  && ((current_datetime.getMonth() + 1) > 9)){
        formatted_date_fin = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-" +current_datetime.getDate()
    } 
    console.log(formatted_date_fin)%>
    <p>Fecha de Fin: <input type="date" name="fecha_fin" value="<%=formatted_date_fin%>" ></p>
    <p>Numero de partidas por dia: <input type="text" name="partidasxDia" value="<%= s.partidasxDia %>" ></p>
    <p>ejemplo <input type="text" value="<%=s.fecha_fin%>"></p>
    <p>Puntaje:</p>   
    <input type="text" name="puntajeGanar" value="<%= s.puntajeGanar %>" placeholder="partida ganada">
    <input type="text" name="puntajePerder" value="<%= s.puntajePerder %>" placeholder="partida empatada">
    <input type="text" name="puntajeEmpatar" value="<%= s.puntajeEmpatar %>" placeholder="partida perdida">
    

    <p>Cambiar Estado del Torneo: </p> <select name= "estadotorneo">
        <% if(s.estado== "abierto") { %> <option value="abierto">Abierto</option> <% } %>
        <% if(s.estado== "en curso" ||s.estado== "abierto" ) { %><option value="en curso">En Curso</option><% }%>
        <% if(s.estado== "cerrado" ||s.estado== "en curso"  ) { %><option value="cerrado">Cerrado</option><% }%>
        
    </select>
    <%})%>

    <input type="submit"  value="Actualizar Torneo" />
</form>

<form action="retroceder" style="display:inline" method="GET">
    <input type="submit" value="Cancelar" />
</form>