<h1>Editar Perfil</h1>
<h1>Disfruta jugando,   <%= user.nombre%></h1>


<% errors.forEach( function(c)  {  %>
    
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= c.text%>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
<%}) %>   

    <form  action="editar-perfil" method="POST">
        id: <input type="text" name="idU" size="27" value="<%=user.id %>" readonly>
        <br>
        Nombres: <input type="text"  value="<%=user.nombre%>" name="nombre" />
        <br>
        Correo Electrónico : <input type="text" value="<%=user.correo%>" name="correo" />   
        <br>  
        <input hidden type="text" value="<%=user.correo%>" name="correoAntiguo" />   
        <br>   
        Contrasena : <input type="text" value="" name="contra" />   
        <br>  
        <br><br>
       
       <input type="submit"  value="Editar" />
    </form>

<form action="retroceder-lider" method="POST">
    <input type="submit" value="Retroceder" />
</form>