<h1>HOLAAA ACA VAS A EDITAR PERFIL</h1>
<h1>hola   <%= user.nombre%></h1>

    <form  action="editar-perfil" method="POST">
        id: <input type="text" name="idU" size="27" value="<%=user.id %>" readonly>
        <br>
        Nombres: <input type="text"  value=" <%=user.nombre %> " name="nombre" />
        <br>
        Correo Electrónico : <input type="text" value=" <%=user.correo %>" name="correo" />   
        <br>    
        Contrasena : <input type="text" value=" <%= user.contrasena %>" name="contra" />   
        <br>  
        <br><br>
       
       <input type="submit"  value="Editar" />
    </form>

<form action="retroceder-lider" method="POST">
    <input type="submit" value="Retroceder" />
</form>