HOLIIIIIIII
ESTA ES LA PAGINA PRINCIPAL DE LOS LIDERES

TABLA DE TORNEOS
<h1>HOLAAA</h1>

&nbsp; &nbsp; &nbsp;
<form action="torneos" style="display:inline" method="POST">
    Filtrar Por Estado: 
    <select name="estadoOrdenado" >
        <option value="Abierto">Abierto</option>
        <option value="En curso">En curso</option>
        <option value="Cerrado">Cerrado</option>
    </select>

    <input type="submit" value="Aplicar">
</form>  

<table class="table">
    <thead>
        <tr>
            <th>-- ID -</th>
            <th>- Nombre -</th>
            <th>- Estado -</th>
            <th>- Maximo de particpantes -</th>
            <th>--</th>
            <th>- Inscrito ? --</th>
        </tr>
    </thead>
    <tbody id="datos">
             <% ltorneos.forEach( function(elem) { %>
                <tr>
                    <td><%=elem.id%></td>
                    <td><%=elem.nombre%></td>
                    <td><%=elem.estado%></td>
                    <td><%=elem.maxParticipantes%></td>
                    <td><form action="ver-torneo" method ="get">
                        <input type="hidden" name="id" value="<%= elem.id %>" />
                        <input type="submit" value="Ver">
                    </form></td>
                <td>
                    <% var inscrito= false 
                    linscrito.forEach(function(c){
                        if(elem.id == c.IdTorneo){ 
                            inscrito= true
                        }})%>
                    <%if (elem.estado!="abierto" || elem.maxParticipantes== elem.numParticipantes){%>
                            ---
                        <%} 
                        
                        else if(inscrito){%>
                            SI
                        <%}
                        
                        else{%>
                            <form action="inscripcion" method ="GET">
                            <input type="submit"onclick="return conf()" value="Inscribirnos"/>
    
                            

                            
                            
                            <input type="hidden" name="id" value="<%= elem.id %>" />
                            </form>
                        <%}%>
                
                    
                </td>
                </tr>
                <%}) %>
     </tbody>
</table>
<script >
                                function conf() {
                                var con = confirm("ESTAS SEGURPO DE Inscribirte al torneo?");
                                if(con == true)
                                {
                                    return true;
                                }
                                else{
                                    return false;
                                }
                                }
                            </script>



<form action="editar-perfil">
    <input type="submit" value="Editar Perfil" />
</form>


<form action="editar-equipo" >
    <input type="submit" value="Editar Equipo" />
</form>