
Buscar Usuario <br>

Ingresar Nombre/Correo
<form action="/admin/filtrar-usuarios" style="display:inline" method="POST">
    <input type="text" name="filtrado" placeholder="Ingrese datos a filtrar">
</form>
&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<form action="/admin/ordenar-usuarios" style="display:inline" method="POST">
    Filtrar Por Rol: 
    <select name="tipoOrdenado" >
        <option value="Admin">Admin</option>
        <option value="Organizador">Organizador</option>
        <option value="Participante Líder">Participante Líder</option>
        <option value="Todos">Todos</option>
    </select>

    <input type="submit" value="Go">
</form>  
<br><br>

    <div class="tabla-usuarios" id="tabla-usuarios">
        <table class="table">
            <thead>
                <tr>
                    <th> Id  </th>
                    <th> Nombres  </th>
                    <th> Rol  </th>
                    <th> Correo  </th>
                    <th> Accion </th>
                </tr>
            </thead>
            <tbody id="datos">
                <% usuarios.forEach(function(elem) { %>
                    <tr>
                        <td>
                            <%= elem.id %>
                        </td>
                        <td>
                            <%= elem.nombre %>
                        </td>
                        <td>
                            <%= elem.rol %>
                        </td>
                        <td>
                            <%= elem.correo %>
                        </td>                                
                                    <td>
                                        <form action="/admin/editar-usuario" method="GET">
                                            <input type="hidden" name="id" value="<%= elem.id %>" />
                                            <input type="submit" value="Editar" />                                            
                                        </form>
                                    </td>
                    </tr>
                <% }) %>
        
            </tbody>
        </table>
    </div>

    <form action="/admin/crear-usuario" style="display:inline">
        <input type="submit" value="Crear Nuevo Usuario" />    
    </form>
    
    <% if(pages){ %>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-md-center">
                <% if(current==1) {%>
                    <li class="page-item disabled"><a href="#" class="page-link">First Page</a> </li>
                    <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>                
                <% } else{ %>
                    <li class="page-item "><a href="/admin/consultar-usuarios/1" class="page-link">First Page</a> </li>
                    <li class="page-item "><a href="/admin/consultar-usuarios/<%- Number(current)-1%>" class="page-link">Previous</a></li>                 
                <% }%>
                <% var i=(Number(current)>5?Number(current)-4:1)%>
                <% if(i!==1){%>
                    <a href="#" class="page-link">...</a>
                <%}%>

                <%for(i;i<=(Number(current)+4) && i<=pages;i++ ){%>
                    <%if(i==current){%>
                        <li class="page-item"><a href="#" class="page-link"><%= i %></a></li>
                    <%} else{%>
                        <li class="page-item"><a href="/admin/consultar-usuarios/<%=i %>" class="page-link"><%= i %></a></li>
                    <%}%>
                    <% if(i==Number(current)+4 && i < pages){%>
                        <a href="#" class="page-link">...</a>
                    <%}%>                    
                <%}%>
                <% if(current==pages) {%>
                    <li class="page-item disabled"><a href="#" class="page-link">Next</a></li> 
                    <li class="page-item disabled"><a href="#" class="page-link">Last Page</a> </li>
                <%}else{%>
                    <li class="page-item "><a href="/admin/consultar-usuarios/<%- Number(current)+1%>" class="page-link">Next</a></li>
                    <li class="page-item "><a href="/admin/consultar-usuarios/<%=pages%>" class="page-link">Last Page</a> </li>
                <%}%>

            </ul>
        </nav>
    <% } %>    

    <form action="/admin/buscar-pagina" class="pagination justify-content-md-center" method="POST">
        <input type="number" name="paginado" placeholder="Ingrese pagina a ver">
    </form>
 

    
