<h1>Lista de Torneos</h1>

Filtrar Nombre:
<form action="/organizador/filtrar-torneos" style="display:inline" method="POST">
    <input type="text" name="filtrado" placeholder="Buscar nombre">
    <input type="submit" value="Aplicar">
</form>

<a type="button" class="btn btn-primary btn-block" href="/organizador/creartorneo">crear nuevo torneo</a>
   
<table class="table">
    <thead>
        <tr>
            <th>-- ID -</th>
            <th>- Nombre -</th>
            <th>- Descripcion -</th>
            <th>- Fecha de Inicio -</th>
            <th>- Fecha de Fin</th>
            <th>- Num de participantes - </th>
            <th>- Accion 1 --</th>
        </tr>
    </thead>
    <tbody id="datos">
             <% ltorneos.forEach( function(elem) { %>
                <tr>
                    <td><%= elem.id %></td>
                    <td><%= elem.nombre %></td>
                    <td><%= elem.descripcion %></td>
                    <td><%= elem.fecha_ini %></td>
                    <td><%= elem.fecha_fin %> </td>
                    <td><%= elem.maxParticipantes %></td>
                    <td>Todos contra Todos</td>
                <td>
                    <form action="editar-torneo">
                        <input type="hidden" name="id" value="<%= elem.id %>" />
                        <input type="submit" value="Editar" />
                    </form>
                    <form action="organizar-torneo">
                        <input type="hidden" name="id" value="<%= elem.id %>" />
                        <input type="submit" value="Organizar" />
                    </form>
                </td>
                <td>
                    
                </td>
                </tr>
             <% }) %>
     </tbody>
</table>



